html {
    font-size: 200%;
    text-shadow: 3px 2px 2px rgba(199, 130, 59, 0.15);
    scroll-behavior: smooth; 
    }
    
/* Body */

body {
    background: rgb(53, 54, 58);
    font-family: Helvetica, Arial, sans-serif;
    color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

/* Projects portion */

.grid {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

nav a {
    translate: 0px -350px;
    margin: auto;
    scale: 1.5;
    transition: scale 0.5s
}

nav a:hover {
    margin: auto;
    scale: 1.7;
}

nav a img {
    margin: auto;
    border-radius: 50%;
    box-shadow: rgb(0, 0, 0) 0 0 10px;
    border: 1px solid white;
}

nav a img:hover {
    margin: auto;
}

.projects {
    justify-content: center;
    align-items: center;
}

/* First text */

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.header {
    height: 4vw;
    font-weight: 400;
}

span {
    color: rgb(231, 144, 159);
}

h6 {
    color: rgb(90, 90, 90);
    text-shadow: none;
    font-size: 50%;
    translate: 0px -40px;
    text-align: center;
}

/* Footer */

footer {
    bottom: 0;
    width: 100%;
    padding: 10px 0px;
    font-size: 12px;
    text-align: center;
    margin-top: auto;
}
