html {
    font-size: 220%;
    text-shadow: 3px 2px 2px rgba(199, 130, 59, 0.15);
    scroll-behavior: smooth; 
    }
    
/* Body */

body {
    background: #202124;
    font-family: Helvetica, Arial, sans-serif;
    color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
}

section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
}

/* Projects portion */

.grid {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

nav a {
    margin: 0;
    scale: 1.5;
    transition: scale 0.5s;
    z-index: 1;
}

nav a:hover {
    margin: auto;
    scale: 1.7;
    cursor: pointer;
}

nav a img {
    margin: auto;
    border-radius: 50%;
    box-shadow: rgb(0, 0, 0) 0 0 10px;
}

/* nav a img:hover {
    margin: auto;
} */

/* Text adjustments */

/* .centered {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
} */

.header {
    height: 8vw;
    font-weight: 400;
}

span {
    color: rgb(231, 144, 159);
}

.secret {
    color: rgb(90, 90, 90);
    text-shadow: none;
    font-size: 50%;
    translate: 0px -40px;
    text-align: center;
}

.tech-used {
    margin-top: 3%;
    margin-bottom: 0%;
}

.description {
    margin-top: 3%;
    font-size: 50%;
    line-height: 140%;
    margin-bottom: 3%;
}

.popup-img {
    width: 80%;
    border-radius: 2%;
    border: 1px solid white;
}

p {
    font-size: medium;
}

.link {
    font-size: 70%;
    width: 115px;
    height: 25px;
    background: #303030;
    padding: 5px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

.link:hover {
    border: 1px solid rgb(151, 151, 151);
}

.title {
    color: rgb(231, 144, 159);
}

/* Popups */

.popup .overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.7);
    z-index: 0;
    display: none;
}

.popup .content {
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    scale: 0;
    background-color: rgb(78, 78, 78);
    z-index: 0;
    text-align: center;
    padding-bottom: 20px;
    box-sizing: border-box;
    border-radius: 7px;
    /* border: 2px solid rgb(165, 165, 165); */
    box-shadow: 0px 0px 10px 2px rgb(165, 165, 165);
}

.popup .close {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    background: #222;
    color: white;
    font-size: 25px;
    font-weight: 200;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}

.popup.active .overlay {
    display: block;
    z-index: 1;
}

.popup.active .content {
    transition: all 300ms ease-in-out;
    z-index: 2;
    scale: 1;
    translate: -50% -50%
}

/* Footer */

footer {
    bottom: 0;
    width: 100%;
    padding: 10px 0px;
    font-size: 12px;
    text-align: center;
    margin-top: auto;
}
