/* Body */

body {
    background: rgb(53, 54, 58);
    height: 100vh;
    font-family: Helvetica, Arial, sans-serif;
    color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    min-height: 3800px;
    display: flex;
    flex-direction: column;
}

/* Texts */

.para {
    position: relative;
    font-size: 250%;
}

.nopara {
    position: absolute;
}

/* Spacer? */

.spacer {
    min-height: 1000px;
}

/* Projects portion */

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

nav a {
    margin: auto;
    transition: transform 0.5s, box-shadow 0.5s;
}

nav a:hover {
    margin: auto;
    transform: scale(1.2);
}

nav a img {
    margin: auto;
    border-radius: 50%;
    box-shadow: rgb(0, 0, 0) 0 0 10px;
    border: 1px solid white;
    transition: transform 0.5s, box-shadow 0.5s;
}

nav a img:hover {
    margin: auto;
    border-radius: 50%;
    box-shadow: rgb(59, 59, 59) 0 0 50px;
    border: 1px solid white;
    transform: scale(1.2);
}

/* First text */

.front {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}


/* Second text */

.front-two {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

/* Third text */

.front-three {
    display: flex;
    justify-content: center;
    z-index: 2000;
    height: 100px;
}

/* Footer */

footer {
    bottom: 0;
    width: 100%;
    padding: 10px 0px;
    font-size: 12px;
    text-align: center;
    margin-top: auto;
}
